# Data Science Tools and Ecosystem

In this notebook, Data Science Toolsand Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. C++
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. SciPy
5. Keras

| Data Science Tools | 
| -------------|
| Jupyter Notebook |
| RStudio | 
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hour = 200/60 
print(f"200 minutes exuals {hour} hours.")

200 minutes exuals 3.3333333333333335 hours.

**Objectives:**
- Python
- R
- SQL

## Author
Meltem KavaklÄ±